html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.heading {
	display:flex;
	align-items: center;
	height: 8vh;
	background: rgba(78, 78, 78, 0.466);
	justify-content: space-between;
	flex:none;
}

#unit-toggle {
	margin-left: 1rem;
}

.search-area {
	display:flex;
	gap: 1rem;
	align-items: center;
	margin-right: 1rem;
}

#search {
	height: 1.5rem;
	width: 25vw;
	font-size: 1.2rem;
	padding: .1rem .5rem;
	border-radius: 1rem;
	border-style: none;
	background-color: rgba(212, 212, 212, 0.993);
	box-sizing: border-box;
}

.search-icon {
	background-color: black;
	height: 1rem;
	aspect-ratio: 1 / 1;
}

#search:focus {
	outline: none;
	border-style: solid;
	border-width: 2px;
	border-color: black;
}

.main-weather {
	flex: auto;
	background-color: rgba(0, 37, 105, 0.466);
	display: flex;
	align-items: center;
	gap: 10%;
}

.details-wrapper{
	height: 400px;
	aspect-ratio: 1 / 1;
	background-color: azure;
	position:relative;
	margin-left: 200px;
	border-radius: 1rem;
	box-sizing: border-box;
	padding: 1rem 50px;
	display: grid;
	grid-template-rows: auto 1fr 10%;
	gap: 1rem;
}

.location-wrapper {
	height:100%;
}

.city-state {
	font-size: 1.5rem;
}

.country {
	font-size: 1rem;
	padding-left: .5rem;
}


.temp-wrapper {
	height: 100%;
	width:100%;
	border-radius: 1rem;
	background-color: cadetblue;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position:relative;
	box-sizing: border-box;
	padding: 1rem;
}

.w-icon-small {
	height:40px;
	aspect-ratio: 1 /1;
	position: absolute;
	right:10px;
	top:10px;
}

.last-update {
	padding: 1rem;
	text-align: center;
	box-sizing: border-box;
}

#temperature {
	font-size: 5rem;
}

#ticker {
    height: 1.5rem;
    width: 100%;
    border: 1px solid black;
    border-radius: 4px;
	overflow-x: hidden;
	overflow-y: hidden;
}

.ticker-text {
	display: flex;
	gap: 1rem;
	align-items: center;
	height: 100%;
	animation: tick-right 15s linear infinite;
	white-space: nowrap;
}

.ticker-text li {
	width: 100%;
	padding-right: 1rem;
	border-right: 1px solid black;
}


.ticker-text li:first-of-type {
	padding-left: 1rem;
	border-left: 1px solid black;
}

.button-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

#fav-icon {
	position:absolute;
	top: 3%;
	right: 5%;
	height: 2rem;
	aspect-ratio: 1/1;
	background-color: rgb(252, 183, 171);
	padding: .5rem;
	border-radius: 1rem;
}

#fav-icon:hover {
	cursor: pointer;
}

.favorites-container {
	height:400px;
	max-width: 600px;
	flex-shrink: 1;
	background-color: aliceblue;
	border-radius: 1rem;
	box-sizing: border-box;
}

.favorites-container>h1 {
	font-size: 2.5rem;
	padding: 1rem 1rem;
	border-bottom: 1px solid black;
}

.forecast {
	height: 0vh;
	background-color: black;
	display: flex;
	align-items: center;
	overflow-x: auto;
	gap: 4vw;
	padding: 0 2rem;
	transition: all 2s;
}

.forecast-element {
	width: 12%;
	height: 90%;
	background-color: aqua;
	flex-shrink: 0;
	border-radius: 1rem;
	display:flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.forecast-header {
	font-size: 1.4rem;
	font-weight: bold;
}

.icon-forecast {
	flex-shrink: 1;
	height: 40%;
	aspect-ratio: 1/1;
	background-color: rgba(240, 255, 255, 0.555);
	border-radius: 1rem;
}

.forecast-detail-wrapper {
	background-color: antiquewhite;
	border: 1px solid black;
	border-radius: 4px;
	width:90%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.1rem;
}

@keyframes tick-right {
	0% {
		transform: translateX(125%);
	}
	100% {
		transform: translateX(-125%);
	}
}