html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	background-size: cover;
	transition: all 2s;
}

button {
	border-radius: 1rem;
	height: 2rem;
	border: 2px solid rgba(192, 192, 192, 0.486);
}

button:hover {
	cursor: pointer;
}

button:disabled:hover {
	cursor: default;
}

.heading {
	display:flex;
	align-items: center;
	height: 8vh;
	justify-content: space-between;
	flex:none;
	background-color: rgba(0, 0, 0, 0.616);
}

#unit-toggle {
	margin-left: 1rem;
	background-color: rgba(231, 231, 231, 0.493);
	padding: 0rem 3rem;
	font-size: 1.1rem;
	font-weight: 500;
}

.search-area {
	display:flex;
	gap: 1rem;
	align-items: center;
	margin-right: 1rem;
}

#search-form {
	display: flex;
	align-items: center;
	gap: .5rem;
}

#search-form label {
	vertical-align: baseline;
	font-size: 1.5rem;
}

#search-icon {
	height: 2rem;
}

#search {
	height: 1.5rem;
	width: 25vw;
	font-size: 1.2rem;
	padding: .1rem .5rem;
	border-radius: .2rem;
	border-style: none;
	border-bottom: 2px solid black;
	box-sizing: border-box;
	background-color: transparent;
}

#search:focus {
	outline: none;
}

#search-button {
	width: 5vw;
}

.main-weather {
	flex: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10%;
	background-color: rgba(0, 0, 0, 0.527);
}

.details-wrapper{
	height: 400px;
	aspect-ratio: 1 / 1;
	background-color: rgba(207, 230, 250, 0);
	position:relative;
	border-radius: 1rem;
	box-sizing: border-box;
	padding: 1rem 50px;
	display: grid;
	grid-template-rows: auto 1fr 10%;
	gap: 1rem;
}

.location-wrapper {
	height:100%;
	width: 90%;
	background-color: rgba(218, 218, 218, 0.411);
	padding: 4px;
	border-radius: 1rem;
}

.city-state {
	font-size: 1.5rem;
	word-wrap: break-word;
	font-weight: 600;
}

.country {
	font-size: 1rem;
	padding-left: .5rem;
	font-weight: 600;
	margin-top: 4px;
}


.temp-wrapper {
	height: 100%;
	width:100%;
	border-radius: 1rem;
	background-color: rgba(240, 255, 255, 0.397);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position:relative;
	box-sizing: border-box;
	padding: 1rem;
}

.w-icon-small {
	height:40px;
	aspect-ratio: 1 /1;
	position: absolute;
	right:10px;
	top:10px;
}

.last-update {
	padding: 1rem;
	text-align: center;
	box-sizing: border-box;
	text-decoration: underline;
}

#temperature {
	font-size: 5rem;
}

#ticker {
    height: 1.5rem;
    width: 100%;
	background-color: rgba(240, 255, 255, 0.397);
    border-radius: 4px;
	overflow-x: hidden;
	overflow-y: hidden;
}

.ticker-text {
	display: flex;
	gap: 1rem;
	align-items: center;
	height: 100%;
	animation: tick-right 15s linear infinite;
	white-space: nowrap;
	
}

.ticker-text li {
	width: 100%;
	padding-right: 1rem;
	border-right: 1px solid black;
}


.ticker-text li:first-of-type {
	padding-left: 1rem;
	border-left: 1px solid black;
}

.button-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

#fav-icon {
	position:absolute;
	top: 3%;
	right: 5%;
	height: 2rem;
	aspect-ratio: 1/1;
	padding: .5rem;
	border-radius: 1rem;
}

#fav-icon:hover {
	cursor: pointer;
}

.favorites-container {
	height:400px;
	width: 600px;
	flex-shrink: 1;
	background-color: rgba(207, 230, 250, 0.589);
	border-radius: 1rem;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

.favorites-container>h1 {
	font-size: 2.5rem;
	padding: 1rem 1rem;
	border-bottom: 1px solid black;
}

.fav-menu {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	grid-auto-rows: 75px;
	overflow-y: auto;
	flex: auto;
	gap:1rem;
	padding: 1rem;
}

.favorite {
	width:100%;
	height:100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(185, 220, 252, 0.623);
	border-radius: 1rem;
	text-align: center;
	position: relative;
	user-select: none;
}

.remove-fav {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 7%;
	right:5%;
	font-size: .8rem;
	padding: 1px 4px;
	border: 1px solid black;
	border-radius: 50%;
}

.remove-fav:hover{
	cursor: pointer;
}

.forecast {
	height: 0vh;
	display: flex;
	align-items: center;
	overflow-x: auto;
	gap: 4vw;
	padding: 0 2rem;
	transition: all 2s;
	background-color: rgba(0, 0, 0, 0.527);
}

.forecast-element {
	width: 12%;
	height: 90%;
	background-color: rgba(233, 233, 233, 0.685);
	flex-shrink: 0;
	border-radius: 1rem;
	display:flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.forecast-header {
	font-size: 1.2rem;
	font-weight: bold;
	text-align: center;
}

.icon-forecast {
	flex-shrink: 1;
	height: 40%;
	aspect-ratio: 1/1;
	border-radius: 1rem;
}

.forecast-detail-wrapper {
	border: 1px solid rgba(173, 173, 173, 0.733);
	border-radius: 4px;
	width:90%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.1rem;
}

@keyframes tick-right {
	0% {
		transform: translateX(125%);
	}
	100% {
		transform: translateX(-225%);
	}
}